/* styles.css */

body {
    font-family: "Lato", sans-serif; /* Ensure Lato is the default font */
    margin: 0;
    padding: 0;
    background-image: url('Artboard.2c7617d6.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: transparent;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.header-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-info {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
    margin-top: 20px; /* Adjust spacing between header content and social links */
}

.site-info h1 {
    margin: 0; /* Remove default margin */
    font-size: 24px;
    font-weight: bold;
}

.site-info p {
    margin: 0; /* Remove default margin */
    font-size: 14px;
    color: #665;
    font-weight: bold; /* Make the text bold */
}

.social-links {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust spacing between site info and social links */
}

.social-links a {
    margin-left: 10px;
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
}

.social-links a img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio */
}

.gif-container {
    text-align: center;
    margin-top: 155px; /* Adjust as needed */
}

.gif-container img {
    max-width: 100%; /* Ensure the image does not exceed its original size */
    height: auto; /* Maintain aspect ratio */
    width: 450px;
    opacity: 0.9;
    /* You can set a specific width if needed */
    /*  */
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.lato-bold {
    font-family: "Lato", sans-serif; /* Use Lato font */
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

body #startAudio {
    position: fixed;
    top: 20px; /* Adjust top position */
    right: 20px; /* Adjust right position */
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1001; /* Ensure it's above other content */
}

